.footer-cta {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background: $brand__purple--light;

  &__title {
    color: white;
    @include for-tablet-landscape-up {
      font-size: 3em;
    }
  }

  &__content {
    text-align: center;
  }
}