{#{{ dump() }}#}
<section class="block block-general">
    <div class="container">
        <h1>Nothing Found</h1>

        <p>{{ context.disclaimer }}</p>
        {{ function('get_search_form') }}
    </div>
</section>