.ArchiveSpeakers {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: $brand__purple--light;

  &__title {
    color: $brand__orange;
    @include font-accent;
  }

  &__items {
    padding-left: 0;
    list-style-type: none;
    margin-left: 1rem;
    @include for-tablet-landscape-up {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__item {
    padding: 1em;
    background: linear-gradient($brand__purple--light, $brand__purple--dark);
    text-align: center;
    margin-bottom: 1em;
    margin-right: 1rem;
    @include for-tablet-landscape-up {
      flex: 1;
      max-width: 19.5%;
    }
    a {
      text-decoration: none;
    }
  }

  &__image {
    position: relative;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      position: relative;
      z-index: 3;
    }
  }

  &__name {
    color: white;
    margin-bottom: .25em;
  }

  &__position {
   color: $brand__orange;
  }
}