// Colors
$brand__gray--dark: #333333;
$brand__purple--dark: #1E0454;
$brand__purple--light: #6419FF;
$brand__green: #17EB36;
$brand__green--dark: #075212;
$brand__orange: #FF8200;
$brand__orange--dark: #542F09;

// Sets a max-width for use with the .container class
$container-width: 2000px;