.menu-main {
  $base: '.menu-main';

  position: fixed;
  @include for-tablet-landscape-up {
    position: static;
  }

  &[aria-hidden="true"] #{$base}__list {
    @include screen-reader-text;
    @include for-tablet-landscape-up {
      @include screen-reader-text-reverse;
    }
  }
  &[aria-hidden="false"] #{$base}__list {
    opacity: 1;
  }

  &[aria-hidden="false"] {
    $_padding: 0;
    z-index: 999;
    background-color: $brand__purple--light;
    top: $_padding;
    right: $_padding;
    left: $_padding;
    bottom: $_padding;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__button {
    position: fixed;
    bottom: 0;
    left: 0;
    font-size: 1em;
    @include for-tablet-landscape-up {
      display: none;
    }
  }

  a {
    @include font-accent;
    text-transform: uppercase;
    text-decoration: none;
    color: $brand__orange;
    font-size: 1.5em;
    @include for-tablet-landscape-up {
      font-size: 1em;
    }

    &:hover {
      color: $brand__green;
    }
  }

  &__list {
    margin: auto;
    padding-left: 0;
    text-align: center;

    li > ul:not([aria-expanded="true"]) {
      @include screen-reader-text;
    }

    li {
      display: block;
      padding-bottom: 1em;
      padding-top: 1em;
      border-bottom: 3px dashed white;

      @include for-tablet-landscape-up {
        padding-top: 0;
        padding-bottom: 0;
        display: inline-block;
        border-bottom: none;
        border-right: 3px dashed white;
      }

      &:last-of-type {
        border: none;
      }
    }

    li a {
      line-height: 1.5em;
      padding-left: .5em;
      padding-right: .5em;
      display: block;
    }
  }
}