{% set base = "footer-cta" %}
<section class="{{ base }}">
    <div class="container">
       <div class="{{ base }}__content">
           <h3 class="{{ base }}__title">Register now</h3>
           <a class="button" href="https://www.eventbrite.com/e/codestock-2019-tickets-51802537785">Register</a>
           <a class="button" href="https://www.eventbrite.com/e/codestock-2019-tickets-51802537785">Sponsor</a>
       </div>
    </div>
</section>