.header {
  $base: &;

  background: linear-gradient($brand__purple--dark, $brand__purple--light);
  padding-top: 15px;
  padding-bottom: 15px;

  .container {
    @include for-tablet-landscape-up {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
    }
  }

  #{$base}__logo {
    display: flex;
    max-width: 400px;
    margin: auto;
    @include for-tablet-landscape-up {
      margin-left: 0;
    }

    a {
      display: block;
      width: 100%;
    }

    svg {
      width: 100%;
      height: auto;

      path {
        fill: white;
      }
    }
  }
}

body.header_transparent .header {
  background: transparent;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 99;
}

body.page-home .header {
 &__logo {
   path {
     fill: transparent;
     stroke: white;
     stroke-dasharray: 100;
     animation: dash 2s 0s linear;
     animation-fill-mode: forwards;
   }
 }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 200;
  }
  75% {
    stroke-dashoffset: 0;
    fill: transparent;
  }
  100% {
    fill: white;
  }
}
