@mixin font-primary {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
}

@mixin font-secondary {
  font-family: 'Fira Code', monospace;
  font-weight: 600;
}

@mixin font-accent {
  font-family: 'Fira Code', monospace;
  font-weight: 700;
}
