@mixin button-primary {
  font-size: 1.2em;
  @include font-secondary;
  text-transform: lowercase;
  background-color: $brand__orange;
  color: $brand__orange--dark;
  text-decoration: none;
  margin: auto;
  transition: 400ms ease all;
  line-height: 1em;
  display: inline-block;
  padding: 1em 2em;
  position: relative;
  z-index: 10;
  border: none;
  font-weight: 600;

  @include for-tablet-landscape-up {
    font-size: 1.4em;
  }

  &:focus,
  &:hover {
    background-color: $brand__green--dark;
    color: $brand__green;
    cursor: pointer;
  }
  &:after {

  }
  &:focus:after ,
  &:hover:after {

  }
  span {
    position: relative;
    z-index: 10;
    &:after {
      position: absolute;
      content: "()";
      opacity: 0;
      max-width: 0;
      width: 0;
      overflow: hidden;
      transition: 400ms ease max-width, 400ms ease opacity;
    }
  }
  &:hover span:after{
    position: initial;
    opacity: 1;
    width: auto;
    max-width: 1000px;
  }
}

@mixin button-secondary {
  background-color: orangered;
  &:focus,
  &:hover {
    &:before {
      content: none;
    }
  }
}

@mixin button-accent {
  background-color: dodgerblue;
  text-transform: uppercase;
  padding: 1em 2.5em;
  span {
    font-size: .9em;
  }
}